<header>
  <div style="margin-right: 40px;">
    <nav class="header-nav">
      <a class="header-title" href="/">Peepls</a>
    </nav>
    <nav class="header-nav">
      <ul>
        <li><a href="users">Users</a></li>
        <li><a href="/users/new">Add User</a></li>
      </ul>
    </nav>
  </div>
</header>
