<div class="container">
  <!-- <div class="form-box"> -->
    <form action="/users" method="POST">
      <%- include('form_fields') %>
      <div style="padding-bottom: 100px;" class="form-row btn-row">
        <a class="btn btn-danger" href="/users">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
</div>
